<div class="product">
  <p class="product-details__topName">{{ product.name }}</p>

  <div class="product-image-holder">
    <img src="/assets/images/default.png" (error)="setAltImg()" [alt]="product.name" class="product-image" />
  </div>
  <div class="product-details">
    <p class="product-details__price">Rs {{ product.price }}</p>
    <button *ngIf="!product.hasOwnProperty('inCartQty')" class="product-details__addBtn" (click)="addToCart(product)">Add to cart</button>
    <div *ngIf="product.hasOwnProperty('inCartQty') && product.inCartQty > 0" class="button-grp">
      <button class="product-details__addBtn" (click)="removeFromCart(product)">-</button>
      <input class="qtyText" type="text" value="{{product.inCartQty}}" />
      <button class="product-details__addBtn" (click)="addToCart(product)">+</button>
    </div>

  </div>
</div>

